/* Los estilos se aplican a todo el documento */

body {
    url(' ../assets/imagenes/images.jpeg)
    background-image: linear-gradient(#026873, #025940);
    background-attachment: fixed;
    background-size:cover
}
.box {
    background:linear-gradient(#026873,#025940);
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-style:solid ;
    border-width:1px;
    border-color: black; 
    border-radius: 20xp;
}