/* Los estilos se aplican a todo el documento */
body {
    background-image:linear-gradient(135deg,rgba(0,0,0,0.5)),rgba(5,15,)
    url(assets/imagenes/fondo2.jpg);
    background-attachment: fixed;
    background-size:cover ;
color: #ac00d6;
}